

.navbar {
    margin-bottom: 0px;
}


.navbar-brand{
    height: 65px;
    padding-top: 3px;
    padding-left: 10px;
}

.navbar-brand .rounded{
    border-radius: 20px;
}

nav {
    padding: 10px;
    font-size: 17px;
    color: #000000;
    height: 90px;
    background-color: #003E4D;
}

.nav-link{
    color: #06dbea;
}

nav > a {
    color: #000000;
    margin-right: 10px;
}



