{% extends "shared/_layout.html" %}
{% block title %} Model: IRR {% endblock %}

{% block main_content %}
<div class="form-container">
    <form action="" method="POST" class="account-form">
        <h1>IRR Calculator</h1>

        <input name="project_name" type="text" placeholder="Project Name" class="form-control" value="{{ project_name }}">
        <input name="project_desc" type="text" placeholder=" Project description" class="form-control" value="{{ email }}">
        <input name="comp_month" type="number" placeholder="Months until completion" class="form-control" value="{{ comp_month }}">
        <input name="asset_term" type="number" placeholder="Years of Project Term" class="form-control" value="{{ asset_term }}">
        <input name="yearly_return" type="number" placeholder=" Yearly Return Amount" class="form-control" value="{{ yearly_return }}">
        <input name="invest_amt" type="number" placeholder=" Total Investment Amount" class="form-control" value="{{ invest_amt }}">

        <button type="submit" class="btn btn-danger">Create</button>
        <div style="clear: both;"></div>

        {% if error %}
            <div class="error-msg">{{ error }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block additional_css %}
   
{% endblock %}