% extends "shared/_layout.html" %}
{% block title %}About Cricket{% endblock %}

{% block main_content %}
    <h1>List of Models</h1>

    <div class="table">
        <table>
            <tr>    
                <th> Model ID </th>
                <th> Project Name </th>
                <th> Project Type </th>
                <th> Date Created </th>
                <th> Open </th>
            </tr>
            {% for m in models %}
                <tr>
                    <td> {{ m.model_id }}</td>
                    <td>{{ m.project_name }}</td>
                    <td>{{ m.type }}</td>
                    <td>{{ m.date_created}}</td>
                    <td>
                    {% if m.type == "IRR" %}     
                        <a href = "/models/review_irr/{{ m.model_id }}"> View </a> </td>
                    {% else %}
                        Other View
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
{% endblock %}

{% block additional_css %}
<!-- this would be css from about.html -->
{% endblock %}